*{
    padding:0px;
    margin:0px;
}
body {
    font-family: "微软雅黑";
}
#container {
    width: 1000px;
    margin: 0 auto;
}
#top{
    height:100px;
    line-height:100px;
    background-color:dimgray;
    color:white;
    font-size:32px;
    padding-left:20px;
}
#login{
    width:500px;
    border:1px solid lightgray;
    margin:0 auto;
    margin-top:50px;
}

.input{
    border:1px solid black;
    height:30px;
    float:left;
    width:200px;
    margin-top:10px;
}
.input_check {
    width: 80px;
    border: 1px solid black;
    height: 30px;
    float: left;
    margin-top: 10px;
}

#login .row_btn {
    height: 50px;
    line-height: 50px;
    text-align:center;
}
#bottom{
    width:800px;
    margin:0 auto;
    margin-top:50px;
    padding-top:20px;
    text-align:center;
    font-size:12px;
    border-top:1px dashed gray;
}
.error_msg {
    font-size: 12px;
    color: red;
    float:left;
    margin-left:5px;
}
.check_code{
    float:left;
}
.a {
    float: left;
    text-decoration: none;
    font-size: 12px;
    font-family: "微软雅黑";
}