* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: "微软雅黑";
}
#container{
    width:1000px;
    margin:0 auto;
}
#top {
    height: 80px;
    line-height: 80px;
    background-color: #0487bb;
    color: white;
    font-size: 32px;
    padding: 0px 20px;
    overflow: hidden;
}
#top a{
    text-decoration:none;
    color:white;
}
#top ul{
    list-style:none;
}
#top li.top_left{
    float:left;
}
#top li.top_right{
    float:right;
    font-size: 12px;
    margin:0px 5px;
}
#middle {
    overflow: hidden;
    margin-top: 1px;
    background-color: #0fa7d8;
}
#left {
    width: 200px;
    background-color: #0fa7d8;
    float: left;
    min-height: 500px;
}
#right {

    float: right;
    padding: 10px;
    min-height: 480px;
    background-color: #e8f3f7;
}
.tree{
    margin:10px;
}
.tree a{
    font-size:14px;
    color:white;
    text-decoration:none;
}
.tree a:hover{
    text-decoration:underline;
    color:red;
}
#position {
    font-size: 12px;
    line-height:30px;
    height:30px;
    border-bottom:1px solid gray;
}
#content{
    padding-top:20px;
    margin:20px;
}
#bottom {
    font-size: 12px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    background-color: #dfe3e4;
}
.list{
    width:100%;
}
.list td{
    text-align:center;
    font-size:12px;
    height:30px;
    line-height:30px;
    background-color:white;
}
.list th{
    height:40px;
    line-height:40px;
    background-color:bisque;
    font-size:14px;
}
.condition{
    font-size:12px;
    height:30px;
    line-height:30px;
    margin-bottom:10px;
}
.btn_select{
    width:50px;
    height:20px;
}
.pre_next_nums_btn {
    font-size: 12px;
    color: black;
    text-decoration: none;
    margin: 0px 5px;
}
.current_btn {
    font-size: 12px;
    color: red;
    text-decoration: none;
    margin:0px 5px;
}
.page {
    height: 50px;
    text-align:center;
}
.img_food{
    width:180px;
    height:128px;
}
.img_order {
    width: 70px;
    height: 50px;
}